<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DVF Visual</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/app.css" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
	<script src='https://unpkg.com/mapbox-gl@0.54.0/dist/mapbox-gl.js'></script>
	<link href='https://unpkg.com/mapbox-gl@0.54.0/dist/mapbox-gl.css' rel='stylesheet' />
	<script src='https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/lodash@4.17.11/lodash.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
</head>

<body>
	<!-- Header moderne -->
	<div class="modern-header">
		<div class="header-left">
			<button class="hamburger-btn" onclick="toggleLeftBar()" id="hamburgerBtn">
				<div class="hamburger-icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<a class="brand" href="/">DVF <span class="brand-accent">Visual</span></a>
		</div>
	</div>

	<div id="app" class="wrapper">
		<div id="sidebar_left" class="sidebar" v-show="!fold_left" class="container">
			<div class="scrollable">
				<div class="form-group-modern">
					<label for="departements" class="control-label">Département</label>
					<select name="departements" id="departements" onchange="selectionnerDepartement()" class="form-control-modern">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group-modern">
					<label for="communes" class="control-label">Commune</label>
					<select name="communes" id="communes" onchange="selectionnerCommune()" class="form-control-modern">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group-modern">
					<label for="sections" class="control-label">Section cadastrale</label>
					<select name="sections" id="sections" onchange="selectionnerSection()" class="form-control-modern">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group-modern">
					<label for="parcelles" class="control-label">Parcelle cadastrale</label>
					<select name="parcelles" id="parcelles" onchange="selectionnerParcelle()" class="form-control-modern">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group-modern">
					<label for="daterange" class="control-label">Date de la mutation</label>
					<input type="text" id="daterange" name="daterange" value="01-01-2010 - 15-01-2018" class="form-control-modern" />
				</div>
			</div>

			<div v-if="section">
				<a v-if="data_section.length > 0" id="exportCSV"
					onclick="exportCSV(this, data_section, codeCommune + '_' + idSectionToCode(idSection) + '.csv');" class="btn-modern">
					<i class="fas fa-download"></i> Télécharger CSV
				</a>
				<div v-else class="alert-modern">
					La base de données DVF ne contient pas de mutation dans la section sélectionnée sur la plage temporelle
					choisie.
					<div v-if="['67', '68', '57', '976'].indexOf(codeDepartement) != -1">
						En particulier, la base DVF ne contient pas de mutation en Haut-Rhin, Bas-Rhin, Moselle et à Mayotte.
					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div id="mapid">
				<div class="switch-map-style" onclick="changeMapStyle()">
					<img v-if="mapStyle == 'vector'" src="/images/preview-ortho.png" alt="Fond orthophoto" />
					<img v-if="mapStyle == 'ortho'" src="/images/preview-vector.png" alt="Fond vectoriel" />
				</div>
			</div>
		</div>

		<div id="sidebar_right" class="sidebar sidebar-right" v-if="parcelle != null && parcelle.mutations.length > 0">
			<div class="sidebar-header-modern">
				<div class="sidebar-title-modern">Mutations de la parcelle</div>
				<button class="close-btn-modern" onclick="sortirDeParcelle()">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<div class="scrollable">
				<div class="cards">
					<boite-accordeon v-for="(mutation, index) in parcelle.mutations" :mutation="mutation"
						:key="mutation.infos[0].id_parcelle + index" :index="index"></boite-accordeon>
				</div>
			</div>
		</div>
	</div>

	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//stats.data.gouv.fr/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', '76']);
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
		})();
	</script>
	<script src="js/data.js"></script>
	<script src="js/component.boite.js"></script>
	<script src="js/component.boite-accordeon.js"></script>
	<script src="js/index.js?v=3"></script>

</body>

</html>